body
{
    height: 100vh;
    width: 100vw;
}
.header
{
    height: 20%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.logo
{
    float: left;
}
.photo1
{
    float: left;
    height: 100%;
    width: 20%;
}
.navigation
{
    padding-right: 10px;
    vertical-align: bottom;
    float: right;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    word-spacing: 10px;
}
.main
{
    height: 50%;
    width: 100%;
    background-image: url(2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.heading
{
    position: relative;
    top: 20%;
    text-align: right;
}
.paragraph
{
    position: relative;
    top: 20%;
    text-align: right;
    font-size: 24px;
}
.footer
{
    height: 30%;
    width: 100%;
}
.program
{
    height: 80%;
    width: 20%;
    border-width: 1px;
    border-color: red;
    border-style: solid;
    text-align: center;
    color: blue;
    float: left;
    margin: 10px 20px 10px 50px;
    font-size: 24px;
}
.nav ul{
    justify-content: space-between;
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 25px;
}
/*
.hero.into{
position : absolute;
top : 50%
left : 50%
color : #fff;
padding : 10px 20px;
font-size : 10px;
}
.hero h2{
font size : 1rem;
margin-bottom : 10px;
color : black;
*/