.page{
    background-color: lightblue;
    padding: 10px;
    height: 100%;
    font-size: 20px;
}
.header{
    background-color: purple;
    color: white;
}
.contant{
    background-color: orange;
    height: 400px;
}
.mytext{
    padding: 10px;
    width: 100%;
}
.entries{
   width: 60%;
   float: left;
   padding-left: 15px;
}
.entry{
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    margin-bottom: 15px;/*margin-bottom vali extara css mukta j form maltu aave che, nahitar 'entry' vacche space raheti nathi.*/
}
.sidebar{
    background-color: black;
    color: white;
    width: 30%;
    padding: 5px; 
    margin-right: 15px;
    float:right;
    height: 120px;
}
.footer{
    background-color: blue;
    color: white;
    width: 100%;
}